
.sub-head{
   text-align: center;
    margin:30px 20px ;
    padding: 20px;
}
.sub-btn{
    border: none;
    padding: 5px;
    width: 80px;
    background-color: blue;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow:  1px 1px rgba(131, 125, 125, 0.922) ;
}
.sub-input{
    width: 500px;
    text-align: center;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 10px;
    box-shadow:  1px 1px rgba(131, 125, 125, 0.922) ;
}
.sub-ques-list{
    display: flex;
    justify-content: space-around;
}